---
import Navbar from '../components/Navbar.astro';
import Welcome from '../components/Welcome.astro';
import Layout from '../layouts/Layout.astro';
import AboutMain from '../components/AboutMain.astro';
import KontaktMain from '../components/KontaktMain.astro';


---

<Layout >
    <div class="bg-[#1E1E1E]">

    
	<div class="max-w-[88%] 2xl:max-w-[1500px] mx-auto px-4 ">
	<Navbar  currentPage="index"/>
    <KontaktMain />
	
</div>
</div>
</Layout>
