---
import Navbar from '../components/Navbar.astro';
import ProjektyMain from '../components/ProjektyMain.astro';
import Layout from '../layouts/Layout.astro';



---

<Layout>
	<div class="max-w-[95%] sm:max-w-[88%] 2xl:max-w-[1500px] mx-auto px-4">
	<Navbar title="VŠETKY PROJEKTY"  currentPage="projekty"/>
	<ProjektyMain />
</div>
</Layout>


