---

import { Image } from 'astro:assets';
---

<!-- Section Navigation -->
<div id="section-nav" class="flex flex-nowrap items-center gap-4 lg:gap-12 pt-6 sticky lg:pt-8 top-13 md:top-20 lg:top-22 z-40 bg-white pb-7 overflow-x-auto whitespace-nowrap scrollbar-hide">
  <div id="nav-architektonicka-studia" class="nav-item text-[#E9E5E5] font-dmSans text-[1.25rem] font-medium leading-[1.875rem] tracking-[-0.0235rem] cursor-pointer content-hover mobileNavigation inline-block">
      <a href="#architektonicka-studia">01 ARCHITEKTONICKÁ ŠTÚDIA </a>
  </div>
  <div id="nav-projekt-pre-stavebne-povolenie" class="nav-item text-[#E9E5E5] font-dmSans text-[1.25rem] font-medium leading-[1.875rem] tracking-[-0.0235rem] cursor-pointer content-hover mobileNavigation inline-block">
      <a href="#projekt-pre-stavebne-povolenie">02 PROJEKT PRE STAVEBNÉ POVOLENIE </a>
  </div>
  <div id="nav-realizacny-projekt" class="nav-item text-[#E9E5E5] font-dmSans text-[1.25rem] font-medium leading-[1.875rem] tracking-[-0.0235rem] cursor-pointer content-hover mobileNavigation inline-block">
      <a href="#realizacny-projekt">03 REALIZAČNÝ PROJEKT </a>
  </div>
  <div id="nav-interierova-studia" class="nav-item text-[#E9E5E5] font-dmSans text-[1.25rem] font-medium leading-[1.875rem] tracking-[-0.0235rem] cursor-pointer content-hover mobileNavigation inline-block">
      <a href="#interierova-studia">04 INTERIÉROVÁ ŠTÚDIA </a>
  </div>
  <div id="nav-ine-sluzby" class="nav-item text-[#E9E5E5] font-dmSans text-[1.25rem] font-medium leading-[1.875rem] tracking-[-0.0235rem] cursor-pointer content-hover mobileNavigation inline-block">
      <a href="#ine-sluzby">05 / INÉ SLUŽBY </a>
  </div>
</div>

<style>
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
</style>

<!--Main Content -->
<div class="flex flex-wrap mt-10 lg:mt-20 gap-20">
    <div id="architektonicka-studia" class="w-full flex flex-col">
        <div class="text-black font-dmSans text-[0.6rem] md:text-[1rem] font-medium leading-[1.5rem] tracking-[0.4rem]">
            DOM NA MIERU
          </div>
          <div class="text-[#1E1E1E] font-dmSans text-[1.5rem]  md:mt-0 md:text-[3rem] font-bold leading-[2.25rem] tracking-[-0.0285rem] md:leading-[4.5rem] md:tracking-[-0.057rem] uppercase">
            01 ARCHITEKTONICKÁ ŠTÚDIA
          </div>
        <div class="flex w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    od 10€/m²
                  </div>
                  
            </div>
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    do 8 týždňov
                  </div>
                  
            </div>
        </div>
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Výsledkom architektonickej štúdie sú výkresy rozpracované v podrobnosti architektonickej štúdie, 3D model stavby a vizualizácie exteriéru. Cena platí pre novostavby a obsahuje maximálne 3 alternatívy riešenia stavby. 

          </div>
        
          <div class="h-0.5 bg-[#E9E5E5] mt-20 lg:mt-30 w-[100%]"></div>
    </div>


    <!-- Section 2 -->
    <div id="projekt-pre-stavebne-povolenie" class="w-full flex flex-col">
        <div class="text-black font-dmSans text-[0.6rem] md:text-[1rem] font-medium leading-[1.5rem] tracking-[0.4rem]">
            DOM NA MIERU
          </div>
          <div class="text-[#1E1E1E] font-dmSans text-[1.5rem]  md:mt-0 md:text-[3rem] font-bold leading-[2.25rem] tracking-[-0.0285rem] md:leading-[4.5rem] md:tracking-[-0.057rem] uppercase">
            02 PROJEKT PRE STAVEBNÉ POVOLENIE 
          </div>
          <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            ZÁKLAD
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    od 20€/m²
                  </div>
                  
                    
            </div>
            <div class="text-black font-dmSans text-[0.875rem] font-normal leading-[1.3125rem] tracking-[-0.016625rem] lg:-ml-20 w-60">
                Cena platí približne pre stavbu o úžitkovej ploche 180m2
              </div>
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    do 16 týždňov
                  </div>
                  
            </div>
        </div>
        <div class="flex flex-col lg:hidden">
            <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 flex">
                <div class="flex flex-row items-center justify-center gap-2">
                    <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                    <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                        od 20€/m²
                      </div>
                      
                        
                </div>
                <div class="flex flex-row items-center justify-center gap-2">
                    <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black"></div>
                    <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                        do 16 týždňov
                      </div>
                      
                </div>
            </div>
            <div class="text-black font-dmSans text-[0.875rem] font-normal leading-[1.3125rem] tracking-[-0.016625rem]">
                Cena platí približne pre stavbu o úžitkovej ploche 180m2

              </div>
              
        </div>
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Projekt pre stavebné povolenie je spracovaný na základe architektonickej štúdie a zahŕňa všetky nevyhnutné podklady pre získanie stavebného povolenia. Dokumentácia obsahuje základné projekty profesií v mierke 1:100, pričom spĺňa požiadavky stavebných úradov. Táto dokumentácia však nie je určená na realizáciu stavby. Cena platí pre novostavbu.

          </div>
        
         

          <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            ŠTANDARD
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    od 25€/m²
                  </div>
                  
                    
            </div>
            <div class="text-black font-dmSans text-[0.875rem] font-normal leading-[1.3125rem] tracking-[-0.016625rem] lg:-ml-20 w-60">
                Cena platí približne pre stavbu o úžitkovej ploche 180m2
              </div>
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    do 16 týždňov
                  </div>
                  
            </div>
        </div>
        <div class="flex flex-col lg:hidden">
            <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 flex">
                <div class="flex flex-row items-center justify-center gap-2">
                    <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                    <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                        od 20€/m²
                      </div>
                      
                        
                </div>
                <div class="flex flex-row items-center justify-center gap-2">
                    <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black"></div>
                    <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                        do 16 týždňov
                      </div>
                      
                </div>
            </div>
            <div class="text-black font-dmSans text-[0.875rem] font-normal leading-[1.3125rem] tracking-[-0.016625rem]">
                Cena platí približne pre stavbu o úžitkovej ploche 180m2

              </div>
              
        </div>
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Rozšírený variant projektu pre stavebné povolenie, ktorý ponúka vyššiu úroveň detailov a presnejšie vypracovanie. Dokumentácia je spracovaná v mierke 1:50, čo umožňuje lepšiu čitateľnosť a prípadne aj realizáciu jednoduchších stavieb bez ďalších doplňujúcich projektov.


          </div>
        
          <div class="text-black font-dm-sans text-lg font-bold leading-[1.5rem] md:tracking-[-0.024rem] tracking-[-0.019rem] md:mt-7 mt-6">
            NAVYŠE OPROTI ZÁKLADNÉMU PROJEKTU:
          </div>
          
            <ul class="text-black font-dm-sans text-base font-normal leading-[1.5rem] md:tracking-[-0.024rem] tracking-[-0.019rem] md:mt-4 mt-2.5 list-disc ml-4">
                <li>Podrobnejšie rozpracovanie konštrukčných prvkov</li>
                <li>Vyššia úroveň detailov nad rámec požiadaviek stavebného úradu</li>
                <li>Dokumentácia v mierke 1:50 namiesto 1:100</li>
                <li>Ak je riešený krov, súčasťou projektu je aj výkres krovu</li>
            </ul>
          
          
          

            <div class="h-0.5 bg-[#E9E5E5] mt-20 lg:mt-30 w-[100%]"></div>
    </div>

    <!-- Section 3 -->
    <div id="realizacny-projekt" class="w-full flex flex-col">
        <div class="text-black font-dmSans text-[0.6rem] md:text-[1rem] font-medium leading-[1.5rem] tracking-[0.4rem]">
            DOM NA MIERU
          </div>
          <div class="text-[#1E1E1E] font-dmSans text-[1.5rem]  md:mt-0 md:text-[3rem] font-bold leading-[2.25rem] tracking-[-0.0285rem] md:leading-[4.5rem] md:tracking-[-0.057rem] uppercase">
            03 REALIZAČNÝ PROJEKT
          </div>
        <div class="flex w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    Individuálna
                  </div>
                  
            </div>
            
        </div>
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Vo fáze realizačného projektu rozpracujeme projekt, ktorý získal stavebné povolenie, na podrobnú projektovú dokumentáciu na základe ktorej sa dá stavba realizovať. Projekt je dostatočným podkladom pre uskutočnenie celej stavby.

          </div>
        
          <div class="h-0.5 bg-[#E9E5E5] mt-20 lg:mt-30 w-[100%]"></div>
    </div>

    <!-- Section 4 -->
    <div id="interierova-studia" class="w-full flex flex-col">
        <div class="text-black font-dmSans text-[0.6rem] md:text-[1rem] font-medium leading-[1.5rem] tracking-[0.4rem]">
            INTERIÉR
          </div>
          <div class="text-[#1E1E1E] font-dmSans text-[1.5rem]  md:mt-0 md:text-[3rem] font-bold leading-[2.25rem] tracking-[-0.0285rem] md:leading-[4.5rem] md:tracking-[-0.057rem] uppercase">
            04 INTERIÉROVÁ ŠTÚDIA
          </div>
          <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            INTERIÉROVÁ ŠTÚDIA
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    od 40€/m²
                  </div>
                  
                    
            </div>
            
        </div>
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Interiérová štúdia je komplexný návrh interiéru, ktorý zahŕňa estetické aj funkčné riešenie priestoru. Výstupom je detailný koncept, ktorý pomáha klientovi predstaviť si finálny vzhľad interiéru ešte pred realizáciou.
          </div>
    
          
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            OBSAH INTERIÉROVEJ ŠTÚDIE
          </div>
           
            <ul class="text-black font-dm-sans text-base font-normal leading-[1.5rem] md:tracking-[-0.024rem] tracking-[-0.019rem] md:mt-4 mt-2.5 list-disc ml-4">
                
                <li>Návrh usporiadania nábytku a celkového fungovania priestoru (pôdorysy)</li>
                <li>Návrh vstavaného nábytku</li>
                <li>Výber mobiliáru a svietidiel</li>
                <li>Výber materiálov (farebné kombinácie, povrchy, štruktúry)</li>
                <li>Fotorealistické vizualizácie interiéru</li>
                <li>Poradenstvo a konzultácie</li>
                <li>Možnosť troch úprav návrhu</li>
            </ul>
          
            <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
                Výstupom interiérovej štúdie sú vizualizácie priestorov so zapracovanými reálnymi zariaďovacími prvkami, materiálmi a jednoduchá 
                výkresová dokumentácia interiéru.             
            </div>
          

            <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
                INTERIÉROVÁ ŠTÚDIA + PROJEKT INTERIÉRU
              </div>
              
            <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
                <div class="flex flex-row items-center justify-center gap-2">
                    <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                    <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                        od 50€/m²
                      </div>
                      
                        
                </div>
                
            </div>
            
            <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
                POPIS
              </div>
              
            <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
                Rozšírený variant projektu pre stavebné povolenie, ktorý ponúka vyššiu úroveň detailov a presnejšie vypracovanie. Dokumentácia je spracovaná v mierke 1:50, čo umožňuje lepšiu čitateľnosť a prípadne aj realizáciu jednoduchších stavieb bez ďalších doplňujúcich projektov.              
            </div>
        
              
            
            <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
                NAVYŠE OPROTI ZÁKLADNÉMU VARIANTU:
              </div>
               
                <ul class="text-black font-dm-sans text-base font-normal leading-[1.5rem] md:tracking-[-0.024rem] tracking-[-0.019rem] md:mt-4 mt-2.5 list-disc ml-4">
                    
                    <li>Detailnejšie rozpracovanie výkresovej dokumentácie vstavaného nábytku – sú riešené aj vnútorné členenia (police, zásuvky), nielen pohľad z prednej strany</li>
                    <li>Kompletný návrh a výkres svietidiel a elektroinštalácií</li>
                    <li>Presné určenie polohy inžinierskych sietí – vody, kanalizácie, elektrických zásuviek</li>
                </ul>
              
                <div class="h-0.5 bg-[#E9E5E5] mt-20 lg:mt-30 w-[100%]"></div>

    </div>

    <!-- Section 5 -->
    <div id="ine-sluzby" class="w-full flex flex-col">
        <div class="text-black font-dmSans text-[0.6rem] md:text-[1rem] font-medium leading-[1.5rem] tracking-[0.4rem]">
            INTERIÉR
          </div>
          <div class="text-[#1E1E1E] font-dmSans text-[1.5rem]  md:mt-0 md:text-[3rem] font-bold leading-[2.25rem] tracking-[-0.0285rem] md:leading-[4.5rem] md:tracking-[-0.057rem] uppercase">
            05 INÉ SLUŽBY
          </div>
          <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            ZAMERANIE PRIESTORU - DWG
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    od 3€/m²
                  </div>
                  
                    
            </div>
            
        </div>
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Presné zameranie existujúceho priestoru s výstupom vo formáte DWG, ktorý slúži ako podklad pre ďalšie projekčné práce.          
        </div>
    
        <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            ZAMERANIE PRIESTORU - 3D MODEL
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    od 8€/m²
                  </div>
                  
                    
            </div>
            
        </div>
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Zameranie priestoru s výstupom vo forme virtuálneho 3D modelu, vypracovaného v programe Allplan. Model umožňuje presnejšiu vizualizáciu priestoru a efektívnejšie plánovanie úprav.        
        </div>

        <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            VYBAVENIE STAVEBNÉHO POVOLENIA A INŽINIERSKA ČINNOSŤ
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    Individuálna
                  </div>
                  
                    
            </div>
            
        </div>
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Kompletné zabezpečenie procesov potrebných na získanie stavebného povolenia, vrátane komunikácie s úradmi a vybavenia potrebných dokumentov.        
        </div>

        <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            AUTORSKÝ DOZOR A OSTATNÉ SLUŽBY
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    30 €/hodina
                  </div>
                  
                    
            </div>
            
        </div>
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Dohľad nad realizáciou projektu s cieľom zabezpečiť, aby výsledná stavba alebo interiér zodpovedali schválenému návrhu. Zahŕňa konzultácie, kontrolu stavebných prác a riešenie nepredvídaných situácií.        
        </div>

        <div class="text-black font-dmSans text-[1.2rem] md:text-[2rem] font-bold leading-[3rem] tracking-[-0.038rem] md:mt-6">
            CESTOVNÉ NÁKLADY
          </div>
          
        <div class=" w-[100%] max-w-[20rem] md:max-w-[60rem] justify-between items-center  md:mt-8 hidden lg:flex">
            <div class="flex flex-row items-center justify-center gap-2">
                <div class="w-[30px] md:w-[57px] h-[1px] -rotate-90 flex-shrink-0 bg-black -ml-3.5 md:-ml-6"></div>
                <div class="text-black font-dmSans text-[1rem] md:text-[2rem] font-medium leading-[3rem] tracking-[-0.038rem]">
                    10 €/hodina + 0,5 €/km
                  </div>
                  
                    
            </div>
            
        </div>
        
        <div class="text-black font-dmSans text-[1rem] md:text-[1.25rem] font-bold leading-[1.875rem] tracking-[-0.02375rem] mt-4 md:mt-10">
            POPIS
          </div>
          
        <div class="text-[#1E1E1E] font-dmSans text-[1rem] md:text-[1.25rem] font-normal leading-[1.875rem] tracking-[-0.02375rem] mt-4">
            Náklady spojené s dochádzaním na miesto realizácie alebo konzultácie v teréne. 
        </div>
    </div>
</div>

<style>
    .active-content {
        color: #1e1e1e;
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        letter-spacing: -0.38px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: 45%; /* 9px */
        text-underline-position: from-font;
    }
    .content-hover:hover {
        color: #1e1e1e;
        font-family: "DM Sans";
        font-size: 20px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        letter-spacing: -0.38px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: 45%; /* 9px */
        text-underline-position: from-font;
    }

    @media (max-width: 622px) {
        .mobileNavigation{
        color: #E9E5E5;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.304px;
    }
    .active-content {
        color: #1E1E1E;
font-family: "DM Sans";
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 150%; /* 24px */
letter-spacing: -0.304px;
text-decoration-line: underline;
text-decoration-style: solid;
text-decoration-skip-ink: auto;
text-decoration-thickness: auto;
text-underline-offset: 45%; /* 7.2px */
text-underline-position: from-font;
    }
    .content-hover:hover {
        color: #1e1e1e;
        font-family: "DM Sans";
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 150%; /* 30px */
        letter-spacing: -0.304px;
        text-decoration-line: underline;
        text-decoration-style: solid;
        text-decoration-skip-ink: auto;
        text-decoration-thickness: auto;
        text-underline-offset: 45%; /* 9px */
        text-underline-position: from-font;
    }
    .navigationHeader{
        color: #1E1E1E;
font-family: "DM Sans";
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 150%; /* 60px */
letter-spacing: -0.76px;
text-transform: uppercase;
    }
    }
</style>

<script>
      document.addEventListener("DOMContentLoaded", function () {
    const sections = document.querySelectorAll("div[id]"); // Select sections with IDs
    const navItems = document.querySelectorAll(".nav-item"); // Select nav items

    const observerOptions = {
        root: null, // Viewport as root
        rootMargin: "-50% 0px -50% 0px", // Trigger when section is in the middle
        threshold: 0
    };

    const observer = new IntersectionObserver(entries => {
        entries.forEach(entry => {
            if (entry.isIntersecting) {
                // Remove active class from all items
                navItems.forEach(item => item.classList.remove("active-content"));

                // Add active class to the matching nav item
                const activeNavItem = document.querySelector(`#nav-${entry.target.id}`);
                if (activeNavItem) {
                    activeNavItem.classList.add("active-content");
                }
            }
        });
    }, observerOptions);

    // Observe each section
    sections.forEach(section => observer.observe(section));
});
</script>